#include <os2.h>
#include <rc.h>
RCINCLUDE "filesys.dlg"

MENU ID_FOLDERMENU LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    MENUITEM SEPARATOR
    MENUITEM "Fix name", MENUID_FOLDERSINGLE, MIS_TEXT
    MENUITEM "Fix name recursively", MENUID_FOLDERMULTIPLE, MIS_TEXT
END

MENU ID_FILEMENU LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    MENUITEM SEPARATOR
    MENUITEM "Fix name", MENUID_FILESINGLE, MIS_TEXT
END

